fastapi
uvicorn
pymysql
openai
langchain
langchain-openai
langgraph
langchain-core
chromadb
pydantic
requests
python-multipart
aiomysql
cryptography
crewai
python-jose[cryptography]
bcrypt>=4.0.0
python-dotenv
pydantic[email]
redis[hiredis]