fastapi
uvicorn
pymysql
openai
langchain
langchain-openai
langgraph
langchain-core
chromadb
pydantic
requests
python-multipart
aiomysql
cryptography
crewai
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
pydantic[email]